<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img slot="icon-only" class="logo" alt="logo" height="38" src="/assets/icon/logo.png">
    </ion-buttons>

    <ion-title slot="start" color="secondary">GREENDAY</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" background="rgb(245, 245, 248)">
    <ion-card-header>
      <ion-item color="rgb(245, 245, 248)" lines="none">
        <ion-avatar slot="start">
          <img src="/assets/icon/user.jpg">
        </ion-avatar>
        <ion-label>
          <ion-card-title>John Smith</ion-card-title>
          <ion-card-subtitle>Level 26</ion-card-subtitle>
          <ion-card-subtitle>
            23,907
            <ion-icon class="hand-icon" name="hand"></ion-icon>
          </ion-card-subtitle>
        </ion-label>
      </ion-item>

    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.65" color="secondary"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-card class="test">
        <ion-card-title class="test">FEED</ion-card-title>
    </ion-card>
    
    <ion-card class="welcome-card">
        <ion-card-header>
          <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/icon/user.jpg">
            </ion-avatar>
            <ion-label>
              <ion-card-title>John Smith</ion-card-title>
              <ion-card-subtitle>Level 26</ion-card-subtitle>
              <ion-card-subtitle>
                23,907
                <ion-icon class="hand-icon" name="hand"></ion-icon>
              </ion-card-subtitle>
            </ion-label>
          </ion-item>
    
        </ion-card-header>
        <ion-card-content>
          <ion-progress-bar value="0.65" color="secondary"></ion-progress-bar>
        </ion-card-content>
      </ion-card>    
  </ion-list>
</ion-content>